.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px 150px;
  gap: 30px;
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
.wrapper > div{
  border: 4px solid  #00C9A7	 ;
  border-radius: 10px;
  flex: 1;
  background-color:  #E8F3F1;
  overflow-y: auto;
}
.pantry {
  position: relative;
  grid-column: 2;
  grid-row: 1 / 4;
}
.meal_section {
  position: relative;
  grid-column: 1;
  grid-row: 1 / 4;
}
.ingredient_entry{
  position: fixed;
  bottom: 9%;
  left: 64.5%;
}
.button_container{
  position: fixed;
  bottom: 9.3%;
  left: 24%;
}
.inputField{
  height: 30px;
  border: 3px solid #00C9A7;
  border-radius: 4px;
  outline: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}
.normal_button{
  width: 35px;
  height: 35px;
  background-color: #00C9A7;
  border: 4px solid #00C9A7;
  border-radius: 4px;
  color: white;
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
  scale: 1;
  transition: scale 0.2s;
}
.normal_button:hover{
  background-color: #5C9D8B;
  border: 4px solid #5C9D8B;
  scale: 1.025;
}
.normal_button2{
  width: 200px;
  height: 35px;
  background-color: #00C9A7;
  border: 4px solid #00C9A7;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  scale: 1;
  transition: scale 0.2s;
}
.normal_button2:hover{
  background-color: #5C9D8B;
  border: 4px solid #5C9D8B;
  scale: 1.025;
}
.normal_button3{
  color:#00C9A7;
  border: none;
  background-color: white;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 0px;
  padding-right: 0px;
}
.normal_button4{
  position: absolute;
  right: -10%;
  color:#00C9A7;
  border: none;
  background-color: white;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 0px;
  padding-right: 0px;
}
.ingredient_container{
  display: inline-block;
  margin: 15px;
  background-color: white;
  border: 4px solid white;
  border-radius: 10px;
}
.indiv_ingredients{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
.indiv_ingredients > *{
  display: inline;
}
.headerTxt{
  font-size: 60px;
}
.meal_container{
  color: black;
  text-align: center;
  font-size: 16px;
  background: white;
  margin: 15px;
  padding: 10px;
}
.meal_container_header{
  position: relative;
  width: 80%;
  margin:auto;
}
.meal_container_header > *{
  display: inline;
}