.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;;
  gap: 10px;
}
.wrapper > div{
  border: 2px solid black;
  flex: 1;
}
.pantry {
  grid-column: 2;
  grid-row: 1 / 4;
}
.personal_info{
  grid-column: 2;
  grid-row: 4;
}
.meal_selection{
  grid-column: 1;
  grid-row: 2 / 5;
}
.summary{
  grid-column: 1;
  grid-row: 1;
}